body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;

}

.logo-container {
    flex-grow: 1;
    size: 50px;
    margin-right: 20px;
}

.menu-trigger {
    display: inline-block;
    cursor: pointer;
    position: relative;
    user-select: none;
    flex-grow: 2;
}

.menu-container {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    top: 100%;
    left: 0;
}

.menu-trigger:hover .menu-container {
    display: block;
}

.menu-container ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.menu-container li {
    margin: 20px 0;
}

.menu-container a {
    text-decoration: none;
    color: #fff;
    font-weight: normal; /* Réinitialiser le poids de la police */
    transition: font-weight 0.3s; /* Ajouter une transition de l'animation */
}

.menu-container a:hover {
    font-weight: bold; /* Mettre en gras au survol */
}
 
h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}
    /* Style pour le pied de page */
  
  footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    width: 100%;
    /* Positionne le pied de page en bas */
    /* Assure que le pied de page occupe toute la largeur */
  }